.login {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border-radius: 5px;
  background-color: #c2e7f0;
  position: absolute;
  top: 20%;
  left: 40%;
  margin: -25px 0 0 -25px; /* Apply negative top and left margins to truly center the element */
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  margin: 10px;
}

.sign-in-button {
  margin-top: 10px;
  border: none;
  background-color: #b9e0a9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.form-row {
  justify-content: space-around;
}

.text-input {
  background-color: #ffffff;
  border: none;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}