.create-post-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px;
  width: 40%;
  margin: 10px;
  padding: 5px;
}

.post-input {
  border: none;
  min-height: 40px;
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.post-input:focus {
  outline: none;
}

::placeholder {
  text-align: start;
  vertical-align: top;
}

.post-button {
  width: 10%;
  position: relative;
  left: 90%;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}