.all-posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-content-container {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 10px;
}

.post-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px;
  width: 40%;
  margin: 10px;
  padding: 5px;
}

.post-header {
  display: flex;
  justify-content:space-between;
}

.author {
  font-weight: bold;
}

.date {
  color: rgb(42, 45, 235);
  opacity: 80%;
}

.likes {
  color: rgba(42, 45, 235, 0.7);
}

.likes:hover {
  cursor: pointer;
}